<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiBaseURL</key>
	<string>$(API_BASE_URL)</string>
	<key>ApiKeyCoo</key>
	<string>$(API_KEY_COO)</string>
	<key>ApiKeyRisa</key>
	<string>$(API_KEY_RISA)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>KAKAO_APP_KEY</key>
	<string>9721addb86ae11a44b9e8515282e31d4</string>
	<key>KAKAO_PHASE</key>
	<string></string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
