<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiNifsURL</key>
	<string>$(API_NIFS_URL)</string>
	<key>ApiKeyRisa</key>
	<string>$(API_KEY_RISA)</string>
	<key>ApiOnbadaURL</key>
	<string>$(API_ONBADA_URL)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ko</string>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>9721addb86ae11a44b9e8515282e31d4</string>
	<key>KAKAO_PHASE</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
